
@{
    ViewBag.Title = "DanhSachTaiKhoan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h2>Danh sách tài khoản</h2>
<div id="thongbao">

</div>
<table class="table">
    <thead>
        <tr>
            <th>Tên tài khoản</th>
            <th>Tên khách</th>
            <th>Số điện thoại</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            let result;
            window.SpeechRecognition = window.SpeechRecognition || window.webkitSpeechRecognition
            const voice = new SpeechRecognition()
            $('h2').append('<a style="margin-left: 10px;cursor: pointer" class="mics"><i class="fas fa-microphone"></i></a>')
            voice.lang = 'vi-VI'
            voice.interimResults = true
            voice.continuous = false;

            $('.mics').click(function () {
                voice.start()
                console.log('hello')

            })
            voice.addEventListener('result', function (e) {
                console.log(e)
                result = e.results[0][0].transcript
            })

            voice.addEventListener('end', function (e) {
                console.log(result);
                $('input[type="search"]').val(result.toLowerCase())
                $('table').DataTable().search($('input[type="search"]').val()).draw()
            })



            voice.onerr = function (event) {
                console.log(event)
            }
        })


        function LoadDuLieu() {
            $.getJSON('/api/GetAccountList', function (data) {
                console.log(data);
                var htmldata = '';
                $(data).each(function (k, v) {
                    

                    htmldata += '<tr><td>' + v.TenDangNhap + '</td><td>' + v.TenKhach + '</td><td>' + v.DienThoai + '</td><td><a href="#" class="btn btn-success" onclick="return EditAccount(\'' + v.TenDangNhap + '\',this)">Sửa</a><a class="btn btn-primary" style="margin-left:10px;" href="#" onclick="return ResetPassword(\'' + v.TenDangNhap + '\',this)">Reset</a><a href="#" class="btn btn-danger" style= "margin-left:10px;" onclick="return DeleteAccount(\'' + v.TenDangNhap + '\',this);">Xóa</a></td></tr>';
                })
                $('table tbody').html(htmldata);
                $('table').dataTable({
                    dom: 'Bfrtip',
                    "pageLength": 5,

                });
            });
        }

        LoadDuLieu();

        function ResetPassword(tentk,ctl) {
            var result = confirm("Bạn có chắc là muốn cài lại mật khẩu cho tài khoản này?");
            if (result) {
                $.ajax({
                    url: '/api/ResetPassword?tentk=' + tentk,
                    type: 'PUT',
                    success: function (result) {
                        thongbao(result, true);
                    }
                }).fail(function (data) {
                    alert('Cài lại mật khẩu cho tài khoản không thành công');
                });
            }
            return false;
        }

        function DeleteAccount(id, ctl) {
            var result = confirm("Bạn có chắc là muốn xóa tài khoản này?");
            if (result) {
                $.ajax({
                    url: '/api/TaiKhoanAPI/DeleteProduct?id=' + id,
                    type: 'DELETE',
                    success: function (result) {
                        $(ctl).parent().parent().remove();
                        thongbao(result, true);
                    }
                }).fail(function (data) {
                    alert('Xóa tài khoản không thành công');
                });
            }
            return false;
        }
        var old_name = '';
        var old_phone = '';
        function EditAccount(id, ctl) {
            
            if ($(ctl).text() == 'Sửa') {
                $(ctl).text('Lưu');
                old_name = $(ctl).parent().parent().children('td:nth-child(2)').text();
                old_phone = $(ctl).parent().parent().children('td:nth-child(3)').text();
                console.log('tencu: ' + old_name + 'sdtcu:' + old_phone)
                for (var i = 0; i < 2; i++) {
                    var val = $(ctl).parent().parent().children('td:nth-child(' + (2 + i) + ')').text();
                    $(ctl).parent().parent().children('td:nth-child(' + (2 + i) + ')').html('<input type="text" value="' + val + '" />');
                }
            } else {
                var hoten = '', dienthoai = '', tentk;
                hoten = (hoten == old_name) ? '' : $(ctl).parent().parent().children('td:nth-child(2)').children('input').val();
                dienthoai = (dienthoai == old_phone) ? '' : $(ctl).parent().parent().children('td:nth-child(3)').children('input').val();
                tentk = id;
                console.log('tentk: ' + tentk + ' hoten: ' + hoten + ' dienthoai: ' + dienthoai);
                $.ajax({
                    type: 'PUT',
                    url: '/api/EditAccount?tentk=' + id + '&hoten=' + hoten + '&dienthoai=' + dienthoai,
                    success: function (result) {
                        console.log(result);
                        thongbao(result, true);
                        console.log("Edit success");
                    },
                }).done(function () {
                    console.log('Edit done');
                }).fail(function (msg) {
                    thongbao('Edit Fail', false);
                    console.log('Edit FAIL');
                });

                for (var i = 0; i < 2; i++) {
                    $(ctl).parent().parent().children('td:nth-child(' + (2 + i) + ')').text($(ctl).parent().parent().children('td:nth-child(' + (2 + i) + ')').children('input').val());
                }
                $(ctl).text('Sửa');
            }
        }

        function thongbao(txt, status) {
            $('#thongbao').hide();
            if (status == true) {
                $('#thongbao').html('<div class="alert alert-success">' + txt + '</div>');
            } else {
                $('#thongbao').html('<div class="alert alert-danger">' + txt + '</div>');
            }
            $('#thongbao').fadeIn();
            setTimeout(function () { $('#thongbao div').fadeOut("slow"); }, 3000);
        }
    </script>


}

