
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<!-- Header Area End Here -->
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="@Url.Action("TrangChu","Home")">Home</a></li>
                <li class="active">Change Password </li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30"></div>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb-30">
                <div id="thongbao">

                </div>
                <div class="login-form">
                    <h4 class="login-title">Change Password</h4>
                    <div class="row">
                        <div class="col-md-12 mb-20">
                            <label>UserName*</label>
                            <input id="username" class="mb-0" type="text" placeholder="UserName..." required oninvalid="this.setCustomValidity('Enter Username Here')" oninput="this.setCustomValidity('')" value="@Session["UserName"]">
                        </div>
                        <div class="col-md-12 mb-20">
                            <label>Current Password*</label>
                            <input id="current_password" class="mb-0" type="password" placeholder="Current Password..." required oninvalid="this.setCustomValidity('Enter Current Password Here')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>New Password*</label>
                            <input id="newPassword" name="password" class="mb-0" type="password" placeholder="New Password..." required oninvalid="this.setCustomValidity('Enter New Password Here')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-6 mb-20">
                            <label>Confirm Password*</label>
                            <input id="confirmPassword" class="mb-0" type="password" placeholder="Confirm Password..." required oninvalid="this.setCustomValidity('Retype New Password Here')" oninput="this.setCustomValidity('')">
                        </div>
                        <div class="col-md-6 mb-20 registrationFormAlert" id="CheckPasswordMatch">
                        </div>
                        <div class="col-12">
                            <button id="btnRegister" class="register-button mt-0">Register</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-3 mb-30"></div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        function checkPasswordMatch() {
            var password = $("#newPassword").val();
            var confirmPassword = $("#confirmPassword").val();
            if (password != confirmPassword) {
                $("#CheckPasswordMatch").html('<span style="color:red">Passwords does not match!</span>');
                $("#btnRegister").prop('disabled', true);
            }
            else {
                $("#CheckPasswordMatch").html('<span style="color: green">Passwords match.</span>');
                $("#btnRegister").prop('disabled', false);
            }
        }
        $("#confirmPassword").keyup(checkPasswordMatch);



        $('#btnRegister').click(function () {
            if ($('#username').val() && $('#current_password').val() && $('#newPassword').val() && $('#confirmPassword').val()) {
                //console.log($('#username').val(), $('#current_password').val(), $('#newPassword').val(), $('#confirmPassword').val())
                var username = $('#username').val();
                var old_pass = $('#current_password').val();
                var new_pass = $('#newPassword').val();
                $.ajax({
                    url: "/api/ChangePassword?tentk=" + username + "&oldPass=" + old_pass + "&newPass=" + new_pass,
                    type: 'PUT',
                    success: function (result) {
                        thongbao(result, true);
                        $('#current_password').val('');
                        $('#newPassword').val('');
                        $('#confirmPassword').val('');
                    }
                }).fail(function (result) {
                    thongbao(result.responseJSON.Message, false);
                })
            } else {
                alert("These field can not be null");
            }
        });

        function thongbao(txt, status) {
            $('#thongbao').hide();
            if (status == true) {
                $('#thongbao').html('<div class="alert alert-success">' + txt + '</div>');
            } else {
                $('#thongbao').html('<div class="alert alert-danger">' + txt + '</div>');
            }
            $('#thongbao').fadeIn();
            setTimeout(function () { $('#thongbao div').fadeOut("slow"); }, 3000);
        }

    </script>



}



